beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
ChatterBot==0.8.1
chatterbot-corpus==1.1.1
click==6.7
cycler==0.10.0
Django==2.2.13
Flask==0.12.2
future==0.16.0
googlemaps==2.5.1
hanziconv==0.3.2
html5lib==1.0.1
idna==2.6
itsdangerous==0.24
jieba==0.39
Jinja2==2.10
jsondatabase==0.1.7
kiwisolver==1.0.1
lxml==4.2.1
MarkupSafe==1.0
mathparse==0.1.1
matplotlib==2.2.2
nltk==3.2.5
numpy==1.14.3
oauthlib==2.0.6
pandas==0.22.0
PyMessager==1.0.1
pymongo==3.6.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-twitter==3.3
pytz==2017.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
six==1.11.0
SQLAlchemy==1.1.15
UNKNOWN==0.0.0
urllib3==1.22
webencodings==0.5.1
Werkzeug==0.14.1
